%h1.text-center Idea Box 2.0
%br
%h2.text-center Add a new idea:

.row
  .col-md-4
  .col-md-4.text-center
    = form_tag api_v1_ideas_path, method: :post, remote: true do
      .form-group
        %label Title:
        = text_field_tag "title", "", class: "form-control", id: "form-title"
        %br
        
        %label Description:
        = text_field_tag "body", "", class: "form-control", id: "form-body"

      = submit_tag "Save", class: "btn btn-info"

%br
%br

%h2.text-center Saved ideas:

#idea-list.text-center
