%h1.text-center Idea Box 2.0
%br

.row
  .col-md-1
  .col-md-4
    %h2 Add a new idea:
    %form.form-group
    %label Title:
    = text_field_tag "title", "", class: "form-control", id: "form-title"
    %br

    %label Body:
    = text_field_tag "body", "", class: "form-control", id: "form-body"

    %br
    = button_tag "Save", class: "btn btn-info", id: "create-idea-btn"
  .col-md-1
  .col-md-6
    %h2 Saved ideas:

    #idea-list

%br
%br
